{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Reset Password</h1>
{#
<form action="" method="POST">
	{{form.hidden_tag()}}
	<p>
		{{form.password.label}}
		{{form.password()}}
		{% for error in form.password.errors %}
		<span style="color:red">[{{error}}]</span>
		{% endfor %}
	</p>
	<p>
		{{form.confirm_password.label}}
		{{form.confirm_password()}}
		{% for error in form.confirm_password.errors %}
		<span style="color:red">[{{error}}]</span>
		{% endfor %}
	</p>
	<p>
		{{form.submit()}}
	</p>
</form>
#}
<div class="row">
	<div class="col-md-4">
		{{ wtf.quick_form(form) }}
	</div>
</div>

{% endblock app_content%}